<script lang="ts">
{{#if load}}
  import type { PageData } from './$types';

  interface Props {
    data: PageData;
  }

  const { data }: Props = $props();
{{/if}}
</script>

<svelte:head>
  <title>{{ pascalCase name }} | Visual Arts Expo</title>
</svelte:head>

<main></main>
